* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: $very-light-gray;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;

h1 {
    font-weight: 200;
    font-size: 35px;
    color: $very-dark-blue;
}

h2 {
    color: $very-dark-blue;
    font-size:30px;
    
}

p {
    text-align: center;
    color: $grayish-blue;
    padding: 1rem;
}
}